<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../0-global-partials/boostrapcss.ejs'); %>
    <%- include('../../0-global-partials/style.ejs'); %>
    <%- include('../partials/style.ejs'); %>
    <title>Ongeza Points PilauHub User<%= user.username %></title>
</head>

<body>
    <%- include('../../0-global-partials/nav.ejs'); %>
    <section class="latest mt-5 p-2">
        <h2 class="fs-5 fw-bold text-light border-bottom border-dark-subtle pb-1">Viwango vya Malipo</h2>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Amount</th>
                    <th scope="col">Points</th>
                    <th scope="col">Cc</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Ush. 1,500</td>
                    <td>1000</td>
                    <td>🇺🇬</td>
                </tr>
                <tr>
                    <td>Ush. 3,000</td>
                    <td>2000</td>
                    <td>🇺🇬</td>
                </tr>
                <tr>
                    <td>Ush. 5,000</td>
                    <td>3500</td>
                    <td>🇺🇬</td>
                </tr>
            </tbody>
        </table>
        <br>
        <h2 class="fs-5 fw-bold text-light border-bottom border-dark-subtle pb-1">Jinsi ya Kufanya Malipo</h2>
        <div class="accordion-body text-light" style="background-color: var(--primary-bg);">
            * Airtel Uganda
            <ul style="list-style: circle;">
                <li class="sNum">Dial *185#</li>
                <li>Select 1. Send Money</li>
                <li>Choose 4. International Transfer</li>
                <li>Select Tanzania</li>
                <li>Enter No.: <span class="sNum hubColor">255757259678</span>
                    <button class="d-inline-block text-xs rounded ms-1 copyTZ" onclick="CopyNum('int')">
                        Copy
                    </button>
                </li>
                <li>Enter Amount</li>
                <li>Enter PIN to confirm</li>
            </ul>
            * MTN Uganda (MoMo)
            <ul style="list-style: circle;">
                <li class="sNum">Dial *165#</li>
                <li>Choose Send Money</li>
                <li>Choose East Africa</li>
                <li>Choose Tanzania</li>
                <li>Choose Vodacom Tanzania</li>
                <li>Enter No.: 
                    <span class="sNum hubColor">255757259678</span>
                    <button class="d-inline-block text-xs rounded ms-1 copyTZ" onclick="CopyNum('int')">
                        Copy
                    </button>
                </li>
                <li>Enter Amount</li>
                <li>Enter PIN to confirm</li>
            </ul>
        </div>
    </section>

    <%- include('../partials/script.ejs'); %>
    <%- include('../../0-global-partials/boostrapjs.ejs'); %>
</body>

</html>