<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../0-global-partials/boostrapcss.ejs'); %>
    <%- include('../0-global-partials/style.ejs'); %>
    <%- include('./partials/style.ejs'); %>
    <title>PilauHub User<%= user.username %></title>
</head>

<body>
    <%- include('../0-global-partials/nav.ejs'); %>
    <div class="email text-xs text-dark-white mt-3 p-2">
        <i class="fa-solid fa-o text-dark-white"></i>
        Logged in as <span class="hubColor"><%= user.email %></span>
    </div>
    <section class="latest mt-5 p-2">
        <h2 class="fs-5 fw-bold text-light border-bottom border-dark-subtle">Latest Videos</h2>
        <div class="thumbs">
            <% videos.forEach(vid => { %>
                <div class="card border-0 my-3 py-0 mx-auto rounded" style="width: 98%;">
                    <a href="/video/<%= vid.nano %>" class="d-block position-relative">
                        <!-- Image -->
                        <img src="<%= vid.thumb %>" alt="<%= vid.title %>" height="220" class="w-100 rounded-top">
                        
                        <!-- Play Button Overlay -->
                        <span class="position-absolute top-50 start-50 translate-middle text-decoration-none">
                            <i class="fa-brands fa-youtube hubColor" style="font-size: 48px; opacity: 0.7;"></i>
                        </span>
                    </a>
                    <div class="card-body bg-dark">
                        <h5 class="card-title text-light"><%= vid.title %></h5>
                        <p class="card-text text-dark-white"><b><%= vid.date %></b> - <%= vid.casts %></p>
                        <p class="text-dark-white card-text">
                            <a href="/tag/<%= encodeURIComponent(vid.tags) %>" class="hubColor"><%= vid.tags %></a>
                        </p>
                    </div>
                </div>
            <% }) %>
        </div>
    </section>

    <%- include('../0-global-partials/boostrapjs.ejs'); %>
</body>

</html>